In [2]:
# database imports
import re as re
import time
import pandas as pd
import os
#from pymongo import MongoClient # FIX: determine which packages to rmv
import numpy as np

### Precleaning Notes
- some bullet points don't separate words, so I will need to use regex to find key terms like 'Python' and 'Machine Learning.'
- skills and roles are mentioned multiple times throughout a description, so I will need to find a way to limit the skill count increase to one per page.
- remote positions will mostly be empty, but this does not imply on-site. I should try to check the description as well.

In [3]:
df = pd.read_csv('linkedin_jobs.csv')

# EDA

In [5]:
df

,title,company,location,post_date,num_applicants,full_time,size,description,salary
0,Data Scientist,Frontiers,Spain,1 week ago,105 applicants,level,"1,001-5,000 employees · Book and Periodical Pu...",About the job\n \n\n \nWe are on a mi...,NaN
1,Senior Data Analyst (f/m),Axpo Group,"Madrid, Community of Madrid, Spain",14 hours ago,1 applicant,Associate,"5,001-10,000 employees · Utilities",About the job\n \n\n \n ...,NaN
2,Data Architect,Adobe,"Barcelona, Catalonia, Spain",1 week ago,56 applicants,level,"10,001+ employees · Software Development",About the job\n \n\n \nOur Company\n\...,NaN
3,Data scientist,HP,"Sant Cugat del Vallès, Catalonia, Spain",1 week ago,30 applicants,level,"10,001+ employees · IT Services and IT Consulting",About the job\n \n\n \n ...,NaN
4,Data Solution Architect,Bumble,"Barcelona, Catalonia, Spain",3 days ago,25 applicants,Associate,"501-1,000 employees · Technology, Information ...",About the job\n \n\n \nWe strongly en...,NaN
...,...,...,...,...,...,...,...,...,...
69,Principal Marketing Data Scientist,Bandai Namco Mobile,"Barcelona, Catalonia, Spain",2 weeks ago,NaN,level,11-50 employees · Computer Games,About the job\n \n\n \nPAC-MAN to Tek...,NaN
70,Data Platform Engineer (f/m/d),Axpo Group,"Madrid, Community of Madrid, Spain",1 day ago,NaN,Associate,"5,001-10,000 employees · Utilities",About the job\n \n\n \n ...,Full-time
71,Global Integration Services Architect,ADP,"Barcelona, Catalonia, Spain",1 day ago,NaN,Contract,"10,001+ employees · Human Resources Services",About the job\n \n\n \nGlobal Integra...,NaN
72,"Data scientist, Engineer, Physicist, Computer ...",German Aerospace Center (DLR),"Almería, Andalusia, Spain",1 month ago,NaN,level,"5,001-10,000 employees · Research Services",About the job\n \n\n \n ...,Part-time · Entry
73,Data Analysis Specialist,PPG,"Barcelona, Catalonia, Spain",3 days ago,NaN,Full-time,"10,001+ employees · Chemical Manufacturing",About the job\n \n\n \n ...,Full-time

In [ ]:
# replace null values
df.isnull().sum()
df.dropna(inplace=True)

# given previous data sets, check salary info
df.salary.unique()

# Cleaning & Extraction

In [ ]:
clean.tokenize(df.description) # tokenize description for skill parsing
clean.skill_parse(df.description) # parse through description for all relevant skills
df

In [ ]:
def tokenize(list_):
    """ tokenize descriptions for skill parsing  """
    for desc in list_:
        desc = 
    return new_list
    
def skill_parse(list_):
    """ parse through description for all relevant skills  """
    return # new column

# Export Data to CSV for Visualization

In [ ]:
df.to_csv('linkedin_jobs_cleaned.csv', index = False, encoding='utf-8')