In [21]:
# dataframe mgmt
import pandas as pd

# visualization
import streamlit as st
import plotly.express as px
import codecs
import streamlit.components.v1 as components

# import database
df = pd.read_csv('output/linkedin_skill_requirements_full_2022-09-01.csv')
df.sample()

,job,python,r,sql,spark,hadoop,java,sas,hive,scala,...,communication,storytelling,presentation,management,strategy,process improvement,agile,networking,consulting,leadership
916,Data Engineer,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
# visualize skill frequency per job
round(df.groupby('job').mean()*100, 2)

,python,r,sql,spark,hadoop,java,sas,hive,scala,c++,...,communication,storytelling,presentation,management,strategy,process improvement,agile,networking,consulting,leadership
job,,,,,,,,,,,,,,,,,,,,,
Admin master data administrator,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.00,0.0,0.00,100.00,0.00,0.0,0.00,0.00,0.00,0.00
Backend lead back end developer,0.00,0.00,100.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.00,0.0,0.00,100.00,100.00,0.0,0.00,0.00,0.00,0.00
Data Analyst,28.50,13.55,43.46,2.34,3.27,7.01,10.28,3.27,0.47,0.0,...,53.74,0.0,22.90,54.21,22.43,0.0,15.42,0.00,9.81,21.96
Data Architect,24.35,1.55,41.97,14.51,11.92,12.95,7.25,3.63,4.15,0.0,...,39.38,0.0,9.33,70.98,57.51,0.0,22.28,0.52,9.33,31.09
Data Engineer,73.30,18.93,64.56,33.98,21.36,29.61,3.88,16.50,14.56,0.0,...,41.75,0.0,2.91,51.94,28.64,0.0,29.13,2.43,8.74,16.50
Data Manager,16.46,6.33,20.25,0.63,1.90,0.63,8.23,0.00,0.00,0.0,...,75.95,0.0,12.03,89.87,55.06,0.0,8.86,1.27,12.66,43.04
Data Scientist,78.77,40.78,48.04,19.55,21.23,10.06,11.17,12.85,6.70,0.0,...,51.96,0.0,27.37,42.46,30.17,0.0,22.35,2.79,10.06,29.05
Developer programmerquantitative developer,100.00,0.00,100.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.00,0.0,0.00,100.00,0.00,0.0,0.00,0.00,0.00,0.00
Developer scada developer,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.00,0.0,0.00,100.00,0.00,0.0,0.00,0.00,0.00,0.00
Director,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.00,0.0,0.00,100.00,33.33,0.0,0.00,0.00,0.00,33.33
Financial Analyst,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,100.00,0.0,0.00,100.00,0.00,0.0,0.00,0.00,0.00,0.00
PM tier2 data projects byupathway worldwide parttimestudent employee,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.00,0.0,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
Research Scientist quantitative researcher,100.00,0.00,0.00,0.00,0.00,100.00,0.00,0.00,0.00,0.0,...,0.00,0.0,0.00,0.00,100.00,0.0,0.00,0.00,0.00,0.00
Research Scientist research data specialist,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.00,0.0,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
Software Engineer,25.00,0.00,68.75,0.00,6.25,50.00,0.00,0.00,0.00,0.0,...,31.25,0.0,0.00,25.00,0.00,0.0,56.25,0.00,0.00,6.25

In [35]:
# too many skills to see all. Try checking by most popular skills
job_to_filter = input() # use 'Data Scientist' for example
num_jobs = len(df.loc[df['job'] == job_to_filter])

df_filtered = df.loc[df['job'] == f'{job_to_filter}'].groupby('job').sum().T
print(f'Total {job_to_filter} jobs: {num_jobs}')
df_top30 = df_filtered.sort_values(by=[f'{job_to_filter}'], ascending=False).head(30)
df_top30

Data Scientist
Total Data Scientist jobs: 179

job            Data Scientist
analysis                  149
python                    141
machine                   132
degree                    131
communication              93
language                   92
sql                        86
intelligence               80
research                   79
management                 76
modeling                   76
r                          73
deep                       69
visualization              65
predictive                 64
strategy                   54
leadership                 52
ai                         51
presentation               49
azure                      46
ml                         45
mining                     44
testing                    44
agile                      40
hadoop                     38
cloud                      37
security                   36
git                        35
algorithms                 35
spark                      35

In [45]:
#data = px.data.df_top30
fig = px.bar(df_top30, x='job', y='Data Scientist')
fig.show()

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['Data Scientist'] but received: job

In [46]:
@st.cache
def load_data():
    return pd.read_csv('.csv')

data_load_state = st.text('Loading data...')
data = load_data()